.title-header {
  text-align: center;
}

.blog-post {
  width: 70%;
  max-width: 22em;
  /* border: solid 1px brown; */
  margin: 2em auto;
}

.article-content {
  line-height: 1.2em;
  margin: 1em;
}

img {
  max-width: 18em;
  max-height: 10em;
}

.img-caption {
  font-size: 0.3em;
  line-height: 0.7em;
  text-align: center;
}

ol,
ul {
  font-size: 0.5em;
}

.sub-text {
  letter-spacing: 0.2em;
  font-size: 0.5em;
  color: #6d676e;
}
