body {
  font: 2.5em "Lucida Sans", Courier, monospace;
}

.header-container {
  display: flex;
  justify-content: center;
  margin: 0.5em auto;
}

.header-content {
  margin: 0em 0.3em;
}

.header-img {
  width: 1.2em;
}

.vertical-line {
  border-left: 2px solid #a9a9a9;
}

.nav-container {
  display: flex;
  justify-content: center;
  margin: 0.5em auto;
}

.nav-items {
  display: inline-block;
  border: none;
  padding: 0.2em 0.5em;
  color: #551a8b;
  text-align: center;
  text-decoration: none;
  font-size: 0.6em;
  margin: 0 0.5em;
  cursor: pointer;
}

.bio {
  display: flex;
  max-width: 15em;
  margin: 0.5em auto;
  align-items: center;
}

.profile-pic {
  max-width: 30%;
  margin-left: 1em;
  margin-right: 1em;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1em;
}

.list-container {
  display: grid;
  /* border: 0.05em solid green; */
  max-width: 26em;
  margin: 2em auto;
  grid-template-columns: minmax(10em, 12em) minmax(10em, 12em);
  grid-template-rows: auto;
  justify-items: center;
  grid-gap: 2em;
}

.card {
  display: block;
  /* border: 0.05em solid red; */
  max-width: 10em;
  margin: auto 1em;
}

a {
  margin: 0;
  color: #551a8b;
  text-decoration: none;
}

.title-header {
  margin: 0;
  text-decoration: none;
}

.sub-header {
  margin-top: 0em;
  font-size: 0.4em;
  color: #a9a9a9;
}

p {
  font-size: 0.5em;
}

.footer-container {
  display: flex;
  justify-content: center;
  font-size: 0.4em;
}
