body {
  font: 2.5em "Lucida Sans", Courier, monospace;
}

.container {
  max-width: 26em;
  margin: 0 auto;
}
.header-container {
  display: flex;
  justify-content: center;
  margin: 0.5em auto;
}

.header-content {
  margin: 0em 0.3em;
  color: #96031a;
}

.header-img {
  width: 1.2em;
}

.vertical-line {
  border-left: 0.3rem solid #6d676e;
}

.nav-container {
  display: flex;
  justify-content: center;
  margin: 0.5em auto;
}

.nav-items {
  display: inline-block;
  border: none;
  padding: 0.2em 0.5em;
  color: #551a8b;
  text-align: center;
  text-decoration: none;
  font-size: 0.6em;
  margin: 0 0.5em;
  cursor: pointer;
}
.content-divider {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bio {
  display: flex;
  max-width: 15em;
  margin: 0.5em auto;
  align-items: center;
}

.profile-pic {
  max-width: 30%;
  margin-left: 1em;
  margin-right: 1em;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1em;
}

.cards-container {
  margin: 0 auto;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(1, 0.5fr) repeat(1, 0.5fr);
  grid-template-rows: auto;
  justify-content: space-evenly;
}

.card {
  margin: 1em;
}

a {
  margin: 0;
  color: #551a8b;
  text-decoration: none;
}

.title-header {
  margin: 0;
  text-decoration: none;
}

.sub-header {
  margin-top: 0em;
  font-size: 0.4em;
  color: #a9a9a9;
}

p {
  font-size: 0.5em;
}

.footer-container {
  display: flex;
  justify-content: center;
  font-size: 0.4em;
  float: ;
}
