@media (max-width: 1024px) {
  body {
    font: 2em "Lucida Sans", Courier, monospace !important;
  }

  .list-container {
    grid-template-columns: repeat(1, 0.5fr) repeat(1, 0.5fr) !important;
  }

  .blog-post {
    width: 95% !important;
    max-width: 760px !important;
    /* border: solid 1px brown; */
    margin: 1em auto !important;
  }

  img {
    width: 90%;
  }
}
