@media only screen and (max-width: 375px) {
  body {
    font: 1.5em "Lucida Sans", Courier, monospace !important;
  }

  .container {
    width: 95%;
  }

  .list-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .blog-post {
    width: 95% !important;
    max-width: 370px !important;
    /* border: solid 1px brown; */
    margin: 1em auto !important;
  }

  img {
    width: 90%;
  }

  footer > section {
    font-size: 0.7em;
  }

  .social {
    margin: 0.5em 0.75em !important;
  }

  td {
    padding: 0.25em 0.25em !important;
  }
}
